.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin: 1rem 0;
}
.footer__name >img {
  max-width: 150px;
  cursor: pointer;
}
.footer__social {
  cursor: pointer;
  margin: 0 0.3rem;
}