.navbar {
  display: flex;
  justify-content: space-between;
  color: #e6f1ff;
}
.logo >img {
  max-width: 150px;
  padding: 1rem;
}
.links {
  padding: 1rem;
}
.link {
  color: #e6f1ff;
  text-decoration: none;
  padding: 1rem;
  font-size: 1rem;
}